.page-home,
body {
  font-family: "barlow_semi_condensed", Arial, Helvetica, sans-serif !important;
}
.top-menu {
  background-color: #c1c1c1;
  font-size: 14px;
}
.logo {
  height: 50px;
  max-width: 100%;
}
.menubar {
  background-color: #ffffff;
}
.logo-footer {
  height: 100px;
}
.about-section,
.product-section {
  padding: 30px 15px;
}
footer .bottom {
  background: #c1c1c1;
  font-size: 18px;
}
.welcome {
  font-size: 32px;
}

a.nav-link {
  font-weight: 500;
  font-size: 24px;
}
a.nav-link.active {
  /* font-weight: bold;
  font-size: 25px; */
  color: #0074ff !important;
}

.hero-text {
  padding-top: 90px;
}
.hero-text .apa {
  line-height: 90px;
}
.hero-text .welcome {
  line-height: 67px;
}

.btn-lang {
  line-height: 24px !important;
}
.topic {
  letter-spacing: 5px;
  margin-top: 30px;
}
.btn-lang .semi-bold {
  line-height: 24px;
  padding-top: 12px !important;
  padding-bottom: 0 !important;
}
.img-hero {
  background-image: url("../images/hero.jpg");
  background-position: center top;
  background-size: cover;
  height: 600px;
}

.img-breaking-force {
  background-image: url("../images/highlight2-cut.jpg");
  background-position: center top;
  background-size: cover;
  height: 667px;
}

.img-pinhole {
  background-image: url("../images/highlight1.jpg");
  background-position: center top;
  background-size: cover;
  height: 250px;
}

.img-wail {
  background-image: url("../images/highlight3.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .img-hero {
    height: 900px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 50px !important;
  }
  .welcome {
    font-size: 44px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    height: 80px;
  }
  .about-section {
    padding: 84px 60px 112px;
  }
  .product-section {
    padding-top: 93px;
    padding-bottom: 150px;
  }
  .h1,
  h1 {
    font-size: 90px !important;
  }
  .h2,
  h2 {
    font-size: 34px !important;
  }
  .welcome {
    font-size: 67px;
  }
  .img-wail {
    height: 667px;
    background-position: center top;
  }
  .top-menu {
    font-size: 24px;
  }
}

/* product */
.product-item h5 {
  color: #707070;
}
.product-item {
  padding: 7px;
}
/* Dots */
.product-dotted.product-slider {
  margin-bottom: 30px;
}

.product-dots {
  position: absolute;
  bottom: -10px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.product-dots li {
  position: relative;

  display: inline-block;

  /* width: 20px;
  height: 20px; */
  /* margin: 0 5px; */
  padding: 0;

  cursor: pointer;
}
.product-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 30px;
  height: 4px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: #eaeaea;
  /* background: transparent; */
}
.product-dots li button:hover,
.product-dots li button:focus {
  outline: none;
}
.product-dots li button:hover:before,
.product-dots li button:focus:before {
  opacity: 1;
}
.product-dots li.slick-active button {
  background: #0074ff;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .product-dots li button {
    width: 300px;
  }
  .product-dots {
    bottom: -60px;
  }
  .container {
    max-width: 1320px !important;
  }
  .logo-footer {
    height: auto;
  }
}

/* .product-dots li button:before {
  font-family: "product";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .product-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
} */
